# Build
bin/
obj/
publish/
publish_*/
publish_new/
publish_fix/
*.user
*.suo
.vs/

# Syncthing temp
~syncthing~*
*.tmp

# Local release copies
*.exe
!app.ico

# OS
Thumbs.db
Desktop.ini

# Syncthing conflict leftovers
*.sync-conflict-*
